{% extends "base.html.twig" %}

{% block body %}

<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia dolores laborum quod? Similique deserunt nobis ipsam soluta necessitatibus dignissimos voluptatem optio vitae quas omnis quibusdam tenetur neque dolorem exercitationem, maiores in ut reprehenderit voluptatum doloremque. Tempora nemo perspiciatis tenetur numquam.</p>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia dolores laborum quod? Similique deserunt nobis ipsam soluta necessitatibus dignissimos voluptatem optio vitae quas omnis quibusdam tenetur neque dolorem exercitationem, maiores in ut reprehenderit voluptatum doloremque. Tempora nemo perspiciatis tenetur numquam.</p>

{% endblock %}