{% extends "base.html.twig" %}

{% block body %}
  
<article>
  <h2>Titre du pokémon</h2>
    <div class="content">
        <img src="https://via.placeholder.com/300x200.png/09f/fff" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem vero distinctio animi rerum dolore quae?</p>
        <p>Qui blanditiis vitae veniam dolorum id molestiae magni eligendi voluptatem, ducimus facere suscipit veritatis ut.</p>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem ad corrupti reiciendis quibusdam odio dolorum iure. Ipsam dolore et vero praesentium expedita quos quod? Ullam quos atque fugiat aperiam at, obcaecati cumque! Quam repellendus qui illo impedit nulla assumenda quos dolore, cum, omnis voluptatibus tempora facilis minima, aut quo beatae.</p>
        <p>Cumque quis laboriosam quidem facere et ex, consectetur quaerat, dignissimos maiores at mollitia quos necessitatibus libero autem repellendus. Officia praesentium esse eius sint aliquam a voluptas quis labore est architecto quaerat nam exercitationem doloribus consectetur error beatae laboriosam doloremque maxime, qui, dolores nemo ipsam tempora. Alias est culpa id libero.</p>
    </div>
</article>


{% endblock %}